[submodule "scratch/vendor/assimp"]
	path = scratch/vendor/assimp
	url = https://github.com/assimp/assimp.git
[submodule "scratch/vendor/glad"]
	path = scratch/vendor/glad
	url = https://github.com/Dav1dde/glad.git
	branch = c
[submodule "scratch/vendor/glfw"]
	path = scratch/vendor/glfw
	url = https://github.com/glfw/glfw.git
[submodule "scratch/vendor/glm"]
	path = scratch/vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "scratch/vendor/stb"]
	path = scratch/vendor/stb
	url = https://github.com/nothings/stb.git
[submodule "scratch/vendor/bullet3"]
	path = scratch/vendor/bullet3
	url = https://github.com/bulletphysics/bullet3.git
[submodule "scratch/vendor/imgui"]
	path = scratch/vendor/imgui
	url = https://github.com/ocornut/imgui
[submodule "scratch/vendor/ImGuizmo"]
	path = scratch/vendor/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
[submodule "scratch/vendor/rapidjson"]
	path = scratch/vendor/rapidjson
	url = https://github.com/Tencent/rapidjson
[submodule "scratch/vendor/nativefiledialog"]
	path = scratch/vendor/nativefiledialog
	url = https://github.com/mlabbe/nativefiledialog.git
[submodule "scratch/vendor/xxHash"]
	path = scratch/vendor/xxHash
	url = https://github.com/Cyan4973/xxHash.git
[submodule "scratch/vendor/entt"]
	path = scratch/vendor/entt
	url = https://github.com/skypjack/entt.git
