[submodule "Glitter/Vendors/assimp"]
	path = Glitter/Vendors/assimp
	url = https://github.com/assimp/assimp.git
[submodule "Glitter/Vendors/glad"]
	path = Glitter/Vendors/glad
	url = https://github.com/Dav1dde/glad.git
[submodule "Glitter/Vendors/glfw"]
	path = Glitter/Vendors/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Glitter/Vendors/glm"]
	path = Glitter/Vendors/glm
	url = https://github.com/g-truc/glm.git
[submodule "Glitter/Vendors/stb"]
	path = Glitter/Vendors/stb
	url = https://github.com/nothings/stb.git
